<html lang="en">
<head>
	<!-- Basic need -->
	<title>Culinier Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<link rel="shortcut icon" href="/images/favicon.ico">

	<!-- Mobile specific meta -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone-no">

	<!-- Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,700,900" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet" type="text/css">

	<!-- CSS files -->
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/css/style.css">

	<!-- JS files -->
	<script src="/js/jquery.js"></script>
</head>
<body>
<div class="ht-page-wrapper">


<!-- BEGIN | Header -->
<header id="ht-header" class="">
</header>
<!-- END | Header -->


<div class="ht-page-header" style="background-image: url('/images/parallax/2.jpg')">
	<div class="overlay" style="background: rgba(0,0,0,.5)"></div>
	<div class="container">
		<div class="inner">
			<h2 class="heading">PAGE HEADER</h2>
			<ol class="ht-breadcrumb">
				<li><a href="#">Bread</a></li>
				<li>Crumb</li>
			</ol>
		</div>
		<!-- / .inner -->
	</div>
	<!-- / .container -->
</div>
<!-- / .ht-page-header -->

<section class="ht-section hs-recipe single">
	<header class="hs-header">
		<div class="container">
			<p class="entry-meta">
				<span class="meta-level master">LEVEL: <span></span></span>
				<span class="meta-time">PREP TIME:</span>
        <span class="meta-time">COOK TIME:</span>
			</p>
			<h2 class="heading"></h2>
		</div>
	</header>
	<!-- / .hs-header -->
	<div class="hs-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="entry entry-media">
            <img src="/images/gallery/8.jpg" alt="" draggable="false"
					</div>
					<!-- / .entry-media -->
					<div class="entry entry-description">
						<h4 class="entry-title">Directions</h4>
						<p></p>
					</div>
					<!-- / .entry-description -->
					<div class="entry entry-nutri">
						<h4 class="entry-title">Nutrition</h4>
						<table class="table">
							<tbody>
								<tr>
									<td class="name">Calories</td>
									<td class="value">102 kcal</td>
									<td class="percen">5%</td>
									<td class="percentage"><span><span style="width: 50%"></span></span></td>
								</tr>
								<tr>
									<td class="name">Cholestrerol</td>
									<td class="value">85 kcal</td>
									<td class="percen">3%</td>
									<td class="percentage"><span><span style="width: 30%"></span></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- / .entry-nutri -->
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="entry entry-ingredient">
						<h4 class="entry-title">Ingredient</h4>
						<table class="table table-tripped">
							<tbody>
								<tr class="section-title">
									<td>Gia vị</td>
								</tr>
								<tr>
									<td>3 pound sesame snaps powder gingerbread</td>
								</tr>
								<tr>
									<td>2 ounce lemon drops chupa chups bear</td>
								</tr>
								<tr>
									<td>3 pound sesame snaps powder gingerbread</td>
								</tr>
								<tr>
									<td class="section-title">Rau thơm</td>
								</tr>
								<tr>
									<td>3 pound sesame snaps powder gingerbread</td>
								</tr>
								<tr>
									<td>2 ounce lemon drops chupa chups bear</td>
								</tr>
								<tr>
									<td>3 pound sesame snaps powder gingerbread</td>
								</tr>
								<tr>
									<td>2 ounce lemon drops chupa chups bear</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- / .entry-action -->
					<div class="entry entry-instruction">
						<h4 class="entry-title">additionalNote</h4>
						<dl class="dl-horizontal">
							<dd></dd>
						</dl>
					</div>
					<!-- / .entry-instruction -->
				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</div>
	<!-- / .hs-content -->
</section>

<div class="ht-section hs-recipe related">
	<div class="container">
		<div class="row">
			<!-- thêm col-sm-offset-2 khi ở recipe_single-->

			<!-- / .columns -->
		</div>
		<!-- / .row -->
	</div>
	<!-- /.container -->
</div>
<!-- / .hs-recipes-related -->


<!-- / .hs-recipe -->



<footer id="ht-footer">
	<div class="container">
		<p class="copyright">COPYRIGHT © 2014 CULINIER. POWERED BY WORDPRESS AND THEMEPE</p>
	</div>
</footer>
<!-- / .hs-footer-widget -->

</div>
<!-- /ht-page-wrapper -->

<script src="/js/plugins.js"></script>
<script src="/js/custom.js"></script>


</body></html>
