
<section class="ht-section">
	<h2 class="sr-only">Search Advanced</h2>
	<div class="container">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<form action="/searchQuery" method="post" class="advance-search-form">
				<div class="form-group col-xs-12">
					<label>By Keyword(Query)</label>
					<input type="text" name="query">
				</div>
				<div class="form-group col-xs-12">
					<label>Filter your search by entering the below fields</label>
				</div>
				<div class="form-group inline col-xs-12">
					<label>Choose filter field</label>
					<select name="filterField">
						<option value="Filter field" selected disabled>Filter field</option>
						<option value="recipeCategory">Category</option>
						<option value="cuisine">Cuisine</option>
						<option value="ingredients">Ingredients</option>
						<option value="difficultyLevel">Difficulty Level</option>
					</select>
					<input type="text" name="filterValue">
				</div>
				<div class="form-group col-xs-12">
					<button type="submit" class="ht-button view-more-button">
						<i class="fa fa-arrow-left"></i> SUBMIT <i class="fa fa-arrow-right"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</section>
